#about-me-section {
  min-height: 100vh;
  width: 100vw;
  border: 4vw solid white;
  background-color: white;
  border-radius: 5%;
  box-shadow: 0 0 0 .6em black;
  color: white;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  /* position: absolute;
  top: -100vh; */
  opacity: 0;
  animation: fade 1s forwards;

}

@keyframes fade{

  100% {opacity: 1;}
}

.comp-screen-ab{
  border-radius: 5%;
  padding: 30px;
  background: black;
  min-height: 90vh;
  width: 90vw;
  position: relative;
  top: 2px;
  
  display: grid;
  grid-template-areas: 
  "A A A . . "
  "B B B B B"
  "B B B B B"
  "B B B B B"
  "B B B B B"
  "E E E E E";

  -webkit-box-shadow: inset 0px 0px 30px 5px rgba(190, 114, 237, 0.728);
  -moz-box-shadow: inset 0px 0px 30px 5px rgba(190, 114, 237, 0.728);
  box-shadow: inset 0px 0px 30px 5px rgba(190, 114, 237, 0.728);

  animation: border-flicker-ab 10s  infinite;
}

.title {
  width: 50vw;
  min-width: 175px;
}

.title h1{
  font-size: clamp(3rem, 7vw, 6rem);
  font-family: 'Tourney', cursive;
  -webkit-text-stroke: 1px white;
  background:#b784d7;
  text-shadow: 0 0 0.6rem #eac7ff, 0 0 1.5rem #d49ef5,
      -0.2rem 0.1rem 1rem #c686ee, 0.2rem 0.1rem 1rem #c686ee,
      0 -0.5rem 2rem #be72ed, 0 0.5rem 3rem #be72ed;
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
}

.prof-pic-div {
  float: right;
  height: fit-content;
  margin: 1vh 1vw;
}

.prof-pic-img {
  width: clamp(180px, 20vw, 250px);
  box-shadow: 0 0 10px #b784d7, 0 0 40px #b784d7, 0 0 80px #b784d7;
}

.ab-p1 {
  grid-area: B;
  padding: 1vh 2vw;
  margin-right: 2vw;
  font-family:'Courier New', Courier, monospace;
  font-weight: 700;
  font-size: clamp(1rem, 1.2vw, 1.6rem);
  color:#f6e7ff;
  text-indent: 20px;
}

.ab-p2 {
  grid-area: D;
  font-family:'Courier New', Courier, monospace;
  font-weight: 700;
  font-size: clamp(1rem, 1.2vw, 1.6rem);

  color:#f6e7ff;
  text-indent: 20px;
  padding: 1vh 1vw;

}

.home-button {
  color:#ecff73;
  border: 1px solid #ecff73;
  -webkit-text-stroke: 1px #ecff73;
}

.home-button:hover {
  background-color:#ecff73;
  color: black;
  -webkit-text-stroke: 1px black;
  box-shadow: 0 0 10px #ecff73, 0 0 40px #ecff73, 0 0 80px #ecff73;
}

.nav-links-ab a {
  width: 15vw;
  min-width: 100px;
  height: 4vh;
  min-height: 40px;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  text-decoration: none;

  font-family:'Courier New', Courier, monospace;

  cursor: pointer;

}

.nav-links-ab {
  grid-area: E;
  display: flex; 
  flex-direction: row;
  justify-content: space-evenly;
  align-items: center;
}

@keyframes border-flicker-ab {
  0% {
    opacity:0.9;
  
  }

  2% {
    opacity:1.0;
   
  }

  4% {
    opacity:0.9;
   
  }
  
  8% {
    opacity:1.0;
   
  }

  70% {
    opacity:0.9;
  
  }

  100% {
    opacity:1;
   
  }
}